@mixin flex-center($direct) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direct;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  @include flex-center(column);
  background: linear-gradient(45deg, #010758, #490d61);
  width: 100%;
  height: 100vh;
}

.heading {
  font-size: 3rem;
  font-weight: 500;
  color: #fff;

  span {
    border-bottom: 3.5px solid #fff;
    padding-bottom: 4px;
    color: orangered;
  }
}

.text {
  width: 600px;
  height: 250px;
  background: rgba($color: #fff, $alpha: 0.2);
  border-radius: 14px;
  padding: 20px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1rem;
  margin-top: 30px;
  resize: none;

  &::placeholder {
    color: #ffffffaa;
  }
}

.row {
  width: 600px;
  margin-top: 30px;
  @include flex-center(row);
  justify-content: flex-start;
  gap: 20px;

  .select {
    flex: 1;
    position: relative;

    select {
      cursor: pointer;
      width: 100%;
      appearance: none;
      outline: none;
      border: none;
      background: rgba($color: #fff, $alpha: 0.3);
      height: 43px;
      border-radius: 50px;
      padding: 0 20px;
      color: #fff;

      option{
        color: #000;
      }
    }
  }

  button {
    padding: 15px 35px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 50px;
    font-size: 1rem;
    color: #fff;
    background-color: orangered;
  }
}

.dropdown {
  position: absolute;
  color: #fff;
  right: 16px;
  transform: translateY(80%);
}
